#about{

  background: #D42323;
  height: 800px;
  padding-top: 188px;
}
.a-wrap{

    text-align: center;
    background: white;
    border-radius: 15px;
}
.a-wrap p{
    background-image:url(../img/logo.png);

    width: 500px;
    height: 500px;
    font-size: 0;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}
.a-wrap h2{

    font-size: 36px;
}
.contact{

    display: flex;
    justify-content: space-evenly;
}
.contact li{
    background-image: url(../img/insta.png);
    width: 70px;
    height: 70px;
    background-size: contain;
}

.contact li:nth-of-type(2){
    background-image: url(../img/kakao.png);
    width: 70px;
    height: 70px;
    background-size: contain;
}
.contact li:nth-of-type(3){
    background-image: url(../img/mail.png);
    width: 70px;
    height: 70px;
    background-size: contain;
}
.contact li:nth-of-type(4){
    background-image: url(../img/yotube.png);
    width: 70px;
    height: 70px;
    background-size: contain;
}

.contact li a{
    padding: 0 15px;
    font-size: 0;
}
